# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [24]:
import pandas as pd
df = pd.read_csv('./demo01.csv')

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [35]:
unique_counts = df.apply(pd.Series.nunique).tolist()
categories = df.columns.tolist()
data_type = df.dtypes.tolist()

In [36]:
to_df = list(zip(categories, data_type, unique_counts))
cat_df = pd.DataFrame(to_df, columns=['variavel','tipo','qtd_categorias'])
cat_df

                 variavel     tipo  qtd_categorias
0                    sexo   object               2
1        posse_de_veiculo   object               2
2         posse_de_imovel   object               2
3              qtd_filhos    int64               8
4              tipo_renda   object               5
5                educacao   object               5
6            estado_civil   object               5
7         tipo_residencia   object               6
8                   idade  float64            5298
9           tempo_emprego  float64            3005
10         possui_celular    int64               1
11  possui_fone_comercial    int64               2
12            possui_fone    int64               2
13           possui_email    int64               2
14  qt_pessoas_residencia  float64               9
15                    mau     bool               2

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [37]:
# titanic_encoded = pd.get_dummies(titanic_sem_na, columns=['class','who'], drop_first=True)
# titanic_encoded.sex = titanic_encoded.sex.map({'female': 1, 'male':0})
df_encoded = pd.get_dummies(df, columns=['posse_de_veiculo', 'posse_de_imovel', 'tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia', 'mau'], drop_first=True)

In [38]:
df_encoded.sexo = df_encoded.sexo.map({'F': 1, 'M':0})

In [45]:
df_encoded.dtypes

sexo                                        int64
qtd_filhos                                  int64
idade                                     float64
tempo_emprego                             float64
possui_celular                              int64
possui_fone_comercial                       int64
possui_fone                                 int64
possui_email                                int64
qt_pessoas_residencia                     float64
posse_de_veiculo_Y                          uint8
posse_de_imovel_Y                           uint8
tipo_renda_Pensioner                        uint8
tipo_renda_State servant                    uint8
tipo_renda_Student                          uint8
tipo_renda_Working                          uint8
educacao_Higher education                   uint8
educacao_Incomplete higher                  uint8
educacao_Lower secondary                    uint8
educacao_Secondary / secondary special      uint8
estado_civil_Married                        uint8
estado_civil_Separated                      uint8
estado_civil_Single / not married           uint8
estado_civil_Widow                          uint8
tipo_residencia_House / apartment           uint8
tipo_residencia_Municipal apartment         uint8
tipo_residencia_Office apartment            uint8
tipo_residencia_Rented apartment            uint8
tipo_residencia_With parents                uint8
mau_True                                    uint8
dtype: object

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [54]:
df_encoded[['possui_email', 'posse_de_veiculo_Y', 'mau_True']].loc[df_encoded.mau_True == 1].value_counts()

possui_email  posse_de_veiculo_Y  mau_True
0             0                   1           233
              1                   1           127
1             1                   1            16
              0                   1            14
dtype: int64

Aparentemente, a tabela mais poderosa para precer a probabilidade de mau = 1 é a **posse_de_veiculo_Y**

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [55]:
df_encoded.to_csv('encoded_demo.csv')